.full-height {
  min-height: 100%;
  height: 80vh;
}

.table-responsive {
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.table-title {
  padding-top: 30px;
}

.col {
  padding-top: 30px;
}